
 body{
 background-color: black;
 margin: 0;
 }
 .box{
 height: 50px;
 width: 100%;
 background-color: rgb(4, 143, 41);
 }
 .circle{
 height: 100px;
 width: 100px;
 border-radius: 50%;
 background-color: rgb(5, 131, 49);
 text-align: center;
 /* margin: auto; */
 display: flex;
 align-items: center;
 }
 .circle p{
 margin: auto;
 font-size: 20px;
 color: white;
 }
 #quiz-container{
 /* text-align: center; */
 margin: auto;
 font-size: 25px;
 color: rgb(241, 241, 243);
 width: 500px;
 }
 #result-container{

 /* text-align: center; */
 margin: auto;
 font-size: 25px;
 color: white;
 width: 500px;
 }
 .btn{
 display: flex;
 justify-content: center;
 }
 button{
 margin: auto;
 height: 50px;
 width: 150px;
 border-radius: 7px;
 font-size: 15px;
 background-color: rgb(4, 143, 41);
 color: white;
 }
 ul li{
 list-style: none;
 }
